/* Misc. Application Fixes */

/**********
 * Files  *
 *********/
.nemo-window .nemo-places-sidebar.frame {
  border-width: 0;
}

/**********
 * Photos *
 *********/
.checkerboard-layout {
    color: gtk("@theme_text_color");
}
.checkerboard,
.checkerboard-layout,
.checkboard-layout .item {
    background-color: gtk("@theme_base_color");
    background-image: linear-gradient(45deg, gtkalpha(#000, 0.1) 25%, transparent 25%, transparent 75%, gtkalpha(#000, 0.1) 75%, gtkalpha(#000, 0.1)), linear-gradient(45deg, gtkalpha(#000, 0.1) 25%, transparent 25%, transparent 75%, gtkalpha(#000, 0.1) 75%, gtkalpha(#000, 0.1));
    background-size: 24px 24px;
    background-position: 0 0, 12px 12px;
}
.bottom-toolbar {
    border-top: 1px solid rgba(0,0,0,0.17);
    background-color: gtk("@theme_bg_color");
    color: gtk("@theme_fg_color");
    &:backdrop {
        border-color: rgba(0,0,0,0.17);
        background-color: gtk("@theme_unfocused_bg_color");
        color: gtk("@theme_unfocused_fg_color");
    }
}
.overlay-toolbar {
    background-color: gtkalpha(gtk("@theme_bg_color"), 0.9);
    border: none;
    border-radius: 3px;
}
.overlay-toolbar .mark {
    color: gtk("@theme_text_color");
}
scale.temperature trough {
    background-image:
        linear-gradient(
            to right,
            gtkbreezent("@BLUEBERRY_500"),
            gtkbreezent("@BANANA_500")
        );
}
scale.temperature:dir(rtl) trough {
    background-image:
        linear-gradient(
            to left,
            gtkbreezent("@BLUEBERRY_500"),
            gtkbreezent("@BANANA_500")
        );
}
scale.tint trough {
    background-image:
        linear-gradient(
            to right,
            #e41b79,
            gtkbreezent("@LIME_500")
        );
}
scale.tint:dir(rtl) trough {
    background-image:
        linear-gradient(
            to left,
            #e41b79,
            gtkbreezent("@LIME_500")
        );
}
scale.tint trough,
scale.temperature trough {
    box-shadow:
        inset 0 0 0 1px gtkalpha(#000, 0.7),
        inset 0 1px 0 gtkalpha(#000, 0.7),
        inset 0 2px 0 gtkalpha(#fff, 0.15),
        0 1px 0 0 gtkalpha(gtk("@theme_bg_color"), 0.3);
}
frame.flat > border,
frame > border.flat,
.frame.flat {
  border-style: none;
}

/***************
  * Chrome(ium) *
  ***************/
window.background.chromium {
    
    headerbar,
    .titlebar {
      button.titlebutton {    
        &.close {
          background-image: none;
          -gtk-icon-transform: scale(1.12);
        }
    
        &.maximize {
          background-image: none;
          -gtk-icon-transform: scale(1.12);
        }    
        &.minimize {
          background-image: none;
          -gtk-icon-transform: scale(1.12);
        }
      }
    
      @at-root window.background.chromium.maximized headerbar, .maximized .titlebar {
        button.titlebutton {
          &.maximize {
            background-image: none;
            -gtk-icon-transform: scale(1.12);
          }
        }
      }
    }
}

window.background.chromium headerbar.titlebar {
}

window.background.chromium headerbar.titlebar .button.titlebutton {
}


/**************************
  * Misc. (Elementary OS) *
  ************************/
.h1 {
    font-size: 24pt;
}

.h2 {
    font-weight: 300;
    font-size: 18pt;
}

.h3 {
    font-size: 11pt;
}

.h4,
.category-label {
    color: gtkalpha(gtk("@theme_text_color"), 0.7);
    font-weight: bold;
    text-shadow: 0 1px #000;
}

.h4 {
    padding-bottom: 6px;
    padding-top: 6px;
}

list .h4 {
    padding-left: 6px;
}

label.primary {
    font-weight: 700;
    font-size: 1.2em;
}

/********
* Geary *
********/

paned statusbar frame {
    border: none;
}
