// Drawing mixins

// generic drawing of more complex things

@function _widget_edge($c:$borders_edge) {
// outer highlight "used" on most widgets
  @if $c == none { @return none; }
  @else { @return 0 1px $c; }
}

@mixin _shadows($list...) {
//
// Helper mixin to stack up to box-shadows;
//
  $shadows: null;

  @each $shadow in $list {
    @if $shadow!=none { $shadows: $shadows, $shadow; }
  }

  box-shadow: $shadows;
}

// entries
@function entry_focus_border($fc:gtk("@theme_selected_bg_color")) {
  @if $variant == 'light' { @return $fc; }
  @else { @return if($fc==gtk("@theme_selected_bg_color"), gtk("@selected_borders_color"), gtkdarken($fc, 35%)); }
}

@function entry_focus_shadow($fc:gtk("@theme_selected_bg_color")) { @return inset 0 0 0 1px $fc; }

@mixin entry($t, $fc:gtk("@theme_selected_bg_color"), $edge: none) {
//
// Entries drawing function
//
// $t: entry type
// $fc: focus color
// $edge: set to none to not draw the bottom edge or specify a color to not
//        use the default one
//
// possible $t values:
// normal, focus, insensitive, backdrop, backdrop-insensitive, osd, osd-focus, osd-backdrop;
//

  $_blank_edge: if($edge == none, none, 0 1px gtktransparentize($edge, 1));
  $_entry_edge: if($edge == none, none, _widget_edge($edge));

  @if $t==normal {
    color: gtk("@theme_text_color");
    border-color: rgba(0,0,0,0.17);
    background-color: gtk("@theme_base_color");
    @include _shadows(entry_focus_shadow(gtktransparentize($fc, 1)), $_entry_edge);
    // for the transition to work the number of shadows in different states needs to match, hence the transparent shadow here.
  }
  @if $t==focus {
    @include _shadows(entry_focus_shadow($fc), $_entry_edge);
    border-color: entry_focus_border($fc);
  }
  @if $t==insensitive {
    color: gtk("@insensitive_fg_color");
    border-color: rgba(0,0,0,0.17);
    background-color: gtk("@insensitive_bg_color");
    box-shadow: $_entry_edge;
  }
  @if $t==backdrop {
    color: gtk("@theme_unfocused_text_color");
    border-color: rgba(0,0,0,0.17);
    background-color: gtk("@theme_unfocused_base_color");
    box-shadow: $_blank_edge;
  }
  @if $t==backdrop-insensitive {
    color: gtkdarken(gtk("@theme_unfocused_bg_color"), 15%);
    border-color: rgba(0,0,0,0.17);
    background-color: gtk("@insensitive_bg_color");
    box-shadow: $_blank_edge;
  }
  @if $t==osd {
    color: gtk("@theme_text_color");
    border-color: rgba(0,0,0,0.17);
    background-color: gtktransparentize(gtkopacify(rgba(0,0,0,0.17), 1), 0.5);
    background-clip: padding-box;
    box-shadow: none;
    text-shadow: 0 1px black;
    -gtk-icon-shadow: 0 1px black;
  }
  @if $t==osd-focus {
    color: gtk("@theme_text_color");
    border-color: gtk("@theme_selected_bg_color");
    background-color: gtktransparentize(gtkopacify(rgba(0,0,0,0.17), 1), 0.5);
    background-clip: padding-box;
    box-shadow: entry_focus_shadow($fc);
    text-shadow: 0 1px black;
    -gtk-icon-shadow: 0 1px black;
  }
  @if $t==osd-insensitive {
    color: gtk("@insensitive_fg_color");
    border-color: rgba(0,0,0,0.17);
    background-color: gtk("@insensitive_bg_color");
    background-clip: padding-box;
    box-shadow: none;
    text-shadow: none;
    -gtk-icon-shadow: none;
  }
  @if $t==osd-backdrop {
    color: gtk("@theme_text_color");
    border-color: rgba(0,0,0,0.17);
    background-color: gtktransparentize(gtkopacify(rgba(0,0,0,0.17), 1), 0.5);
    background-clip: padding-box;
    box-shadow: none;
    text-shadow: none;
    -gtk-icon-shadow: none;
  }
}

// buttons

@function _border_color($c, $darker: false) {
  @if $darker == true { @return ($c rgba(0, 0, 0, 0.24)); }
  @else { @return ($c rgba(0, 0, 0, 0.17)); }
}

//@function _text_shadow_color ($tc: gtk("@theme_fg_color"), $bg: gtk("@theme_bg_color")) {
////
//// calculate the color of text shadows
////
//// $tc is the text color
//// $bg is the background color
////
//  $_lbg: gtklightness($bg)/100%;
//  @if gtklightness($tc)<50% { @return gtktransparentize(white, 1-$_lbg/($_lbg*1.3)); }
//  @else { @return gtktransparentize(black, $_lbg*0.8); }
//}

//@function _button_hilight_color($c) {
////
//// calculate the right top hilight color for buttons
////
//// $c: base color;
////
//  @if gtklightness($c)>95% { @return white; }
//  @else if gtklightness($c)>90% { @return gtktransparentize(white, 0.2); }
//  @else if gtklightness($c)>80% { @return gtktransparentize(white, 0.5); }
//  @else if gtklightness($c)>50% { @return gtktransparentize(white, 0.8); }
//  @else if gtklightness($c)>40% { @return gtktransparentize(white, 0.9); }
//  @else { @return gtktransparentize(white, 0.98); }
//}

@mixin button($t, $c:gtk("@theme_button_background_normal"), $tc:gtk("@theme_button_foreground_normal"), $edge: none) {
//
// Button drawing function
//
// $t:    button type,
// $c:    base button color for colored* types
// $tc:   optional text color for colored* types
// $edge: set to none to not draw the bottom edge or specify a color to not
//        use the default one
//
// possible $t values:
// normal, hover, active, insensitive, insensitive-active,
// backdrop, backdrop-active, backdrop-insensitive, backdrop-insensitive-active,
// osd, osd-hover, osd-active, osd-insensitive, osd-backdrop, undecorated
//
// This mixin sets the $button_fill global variable which containts the button background-image
//
  //$_hilight_color: _button_hilight_color($c);
  $_button_edge: if($edge == none, none, _widget_edge($edge));
  $_blank_edge: if($edge == none, none, _widget_edge(gtktransparentize($edge,1)));
  $_button_shadow: 0 1px 2px rgba(0,0,0,0.1);
  // TODO: Make light-ish borders for buttons on light theme ala old Feren

  @if $t==normal {
  //
  // normal button
  //
    color: $tc;
    //outline-color: gtktransparentize($tc, 0.7);
    border-color: if($c != gtk("@theme_button_background_normal"), _border_color($c), rgba(0,0,0,0.17));
    background: $c linear-gradient(to top, rgba(0,0,0,0.03), transparent);
  }

  @else if $t==hover {
  //
  // hovered button
  //
    color: $tc;
    //outline-color: gtktransparentize($tc, 0.7);
    border-color: if($c != gtk("@theme_button_background_normal"), _border_color($c), rgba(0,0,0,0.17));
    background: $c linear-gradient(to top, rgba(255, 255, 255, 0.01), rgba(255, 255, 255, 0.04));
    @include _shadows($_button_shadow);
  }
  
  @if $t==normalib {
  //
  // normal infofar button
  //
    color: $tc;
    border-color: $tc;
    background: transparent;
  }
  
  @else if $t==hoverib {
  //
  // hovered infobar button
  //
    color: $tc;
    border-color: $tc;
    background: linear-gradient(to top, rgba(255, 255, 255, 0.01), rgba(255, 255, 255, 0.04));
  }

  @if $t==normal-alt {
  //
  // normal button alternative look
  //
    color: $tc;
    //outline-color: gtktransparentize($tc, 0.7);
    border-color: if($c != gtk("@theme_button_background_normal"), _border_color($c), rgba(0,0,0,0.17));
    background: $c linear-gradient(to top, rgba(0, 0, 0, 0.05), transparent);
  }

  @else if $t==hover-alt {
  //
  // hovered button alternative look
  //
    color: $tc;
    //outline-color: gtktransparentize($tc, 0.7);
    border-color: if($c != gtk("@theme_button_background_normal"), _border_color($c), rgba(0,0,0,0.17));
    background: $c linear-gradient(to bottom, rgba(255, 255, 255, 0.09), rgba(255, 255, 255, 0.04));
  }

  @else if $t==active {
  //
  // pushed button
  //
    $button_fgcolor: if($c != gtk("@theme_button_background_normal"), $tc, gtk("@theme_selected_fg_color"));
    color: $button_fgcolor;
    //outline-color: gtktransparentize($tc, 0.7);
    $button_bgcolor: if($c != gtk("@theme_button_background_normal"), gtkdarken($c, 9%), gtk("@theme_selected_bg_color"));
    border-color: $button_bgcolor;
    background: if($c != gtk("@theme_button_background_normal"), $button_bgcolor linear-gradient(to bottom, rgba(0, 0, 0, 0.11), rgba(0, 0, 0, 0.16)), $button_bgcolor linear-gradient(to bottom, rgba(255, 255, 255, 0.07), transparent));
  }

  @else if $t==activeib {
  //
  // pushed infobar button
  //
    color: $tc;
    border-color: $tc;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.11), rgba(0, 0, 0, 0.16));
  }

  @else if $t==insensitive {
  //
  // insensitive button
  //
    $_bg: if($c != gtk("@theme_button_background_normal"), gtkmix($c, gtk("@theme_button_background_normal"), 45%), gtk("@theme_button_background_insensitive"));

    label, & { color: if($c != gtk("@theme_button_background_normal"), gtkmix($tc, $_bg, 45%), gtkmix(gtk("@theme_button_foreground_normal"), gtk("@theme_button_background_insensitive"), 45%)); }

    border-color: if($c != gtk("@theme_button_background_normal"), _border_color($c), rgba(0,0,0,0.12));
    background: $_bg;
  }
  
  @else if $t==insensitiveib {
  //
  // insensitive infobar button
  //
    label, & { color: gtkalpha($tc, 0.8); }

    border-color: gtkalpha($tc, 0.8);
    background: transparent;
  }

  @else if $t==insensitive-active {
  //
  // insensitive pushed button
  //
    $button_bgcolor: if($c != gtk("@theme_button_background_normal"), gtkdarken($c, 11%), gtk("@theme_selected_bg_color"));
    $button_fgcolor: if($c != gtk("@theme_button_background_normal"), $tc, gtk("@theme_selected_fg_color"));

    label, & { color: gtkmix($button_fgcolor, $button_bgcolor, 50%); }

    border-color: $button_bgcolor;
    background: $button_bgcolor linear-gradient(to bottom, rgba(255, 255, 255, 0.07), transparent);
  }

  @else if $t==backdrop {
  //
  // backdrop button
  //
    $_bg: if($c != gtk("@theme_button_background_normal"), $c, gtk("@theme_button_background_backdrop"));

    label, & { color: if($c != gtk("@theme_button_background_normal"), gtkmix($tc, $_bg, 80%), gtkmix(gtk("@theme_button_foreground_backdrop"), $_bg, 80%)); }

    border-color: if($c != gtk("@theme_button_background_normal"), gtkalpha(_border_color($c), 0.88), gtkalpha(rgba(0,0,0,0.17), 0.88));
    background: $_bg;
  }
  
  @else if $t==backdropib {
  //
  // normal infofar button
  //
    color: $tc;
    border-color: $tc;
    background: transparent;
  }
  
  @else if $t==backdropinsensitiveib {
  //
  // insensitive infobar button
  //
    label, & { color: gtkalpha($tc, 0.8); }

    border-color: gtkalpha($tc, 0.8);
    background: transparent;
  }

  @else if $t==backdrop-active {
  //
  // backdrop pushed button
  //
    $button_bgcolor: if($c != gtk("@theme_button_background_normal"), gtkdarken($c, 11%), gtk("@theme_selected_bg_color"));
    $button_fgcolor: if($c != gtk("@theme_button_background_normal"), $tc, gtk("@theme_selected_fg_color"));

    label, & { color: gtkmix($button_fgcolor, $button_bgcolor, 80%); }
    
    border-color: gtkalpha($button_bgcolor, 0.8);
    background: gtkalpha($button_bgcolor, 0.8) linear-gradient(to bottom, rgba(255, 255, 255, 0.06), transparent);
  }

  @else if $t==backdrop-insensitive {
  //
  // backdrop insensitive button
  //

    $_bg: if($c != gtk("@theme_button_background_normal"), gtkmix($c, gtk("@theme_button_background_backdrop")_insensitive, 65%), gtk("@theme_button_background_backdrop")_insensitive);
    $_bc: if($variant == 'light', $_bg,_border_color($c));

    label, & { color: if($c != gtk("@theme_button_background_normal"), gtkmix($tc, $c, 35%), gtkmix(gtk("@theme_button_foreground_normal"), gtk("@theme_button_background_normal"), 35%)); }

    border-color: rgba(0,0,0,0.12);
    background: $_bg;
  }

  @else if $t==backdrop-insensitive-active {
  //
  // backdrop insensitive pushed button
  //

    $button_bgcolor: if($c != gtk("@theme_button_background_normal"), gtkdarken($c, 11%), gtk("@theme_selected_bg_color"));
    $button_fgcolor: if($c != gtk("@theme_button_background_normal"), $tc, gtk("@theme_selected_fg_color"));
    
    label, & { color: gtkmix($button_fgcolor, $button_bgcolor, 40%); }
    
    border-color: gtkalpha($button_bgcolor, 0.8);
    background: gtkalpha($button_bgcolor, 0.8) linear-gradient(to bottom, rgba(255, 255, 255, 0.06), transparent);
  }

  @else if $t==osd {
  //
  // normal osd button
  //
    $_bg: if($c != gtk("@theme_button_background_normal"), gtktransparentize($c, 0.5), gtk("@theme_bg_color"));

    color: gtk("@theme_fg_color");
    border-color: rgba(0,0,0,0.17);
    background-color: transparent;
    background: $_bg;
    background-clip: padding-box;
    outline-color: gtktransparentize(gtk("@theme_fg_color"), 0.7);
  }

  @else if $t==osd-hover {
  //
  // active osd button
  //
    $_bg: if($c != gtk("@theme_button_background_normal"), gtktransparentize($c, 0.3), gtklighten(gtk("@theme_bg_color"), 12%));

    color: gtk("@theme_fg_color");
    border-color: rgba(0,0,0,0.17);
    background-color: transparent;
    background: $_bg;
    background-clip: padding-box;
    outline-color: gtktransparentize(gtk("@theme_fg_color"), 0.7);
  }

  @else if $t==osd-active {
  //
  // active osd button
  //

    $button_fgcolor: if($c != gtk("@theme_button_background_normal"), $tc, gtk("@theme_selected_fg_color"));
    color: $button_fgcolor;
    background-color: transparent;
    $button_bgcolor: if($c != gtk("@theme_button_background_normal"), gtkdarken($c, 11%), gtk("@theme_selected_bg_color"));
    border-color: $button_bgcolor;
    background: $button_bgcolor linear-gradient(to bottom, rgba(255, 255, 255, 0.07), transparent);
    background-clip: padding-box;
    outline-color: gtktransparentize(gtk("@theme_fg_color"), 0.7);
  }

  @else if $t==osd-insensitive {
  //
  // insensitive osd button
  //
    color: gtk("@insensitive_fg_color");
    border-color: rgba(0,0,0,0.17);
    background-color: transparent;
    background: gtk("@insensitive_bg_color");
    background-clip: padding-box;
  }

  @else if $t==osd-backdrop {
  //
  // backdrop osd button
  //
    $_bg: if($c != gtk("@theme_button_background_normal"), gtktransparentize($c, 0.5), gtk("@theme_bg_color"));

    color: gtk("@theme_fg_color");
    border-color: rgba(0,0,0,0.17);
    background-color: transparent;
    background: $_bg;
    background-clip: padding-box;
  }

  @else if $t==undecorated {
  //
  // reset
  //
    border-color: transparent;
    background-color: transparent;
    $button_fill: none !global;
    background: $button_fill;
  }
}

//@mixin headerbar_fill($c:$theme_titlebar_background, $hc:$top_hilight, $ov: none) {
//
//// headerbar fill
////
//// $c:  base color
//// $hc: top highlight color
//// $ov: a background layer for background shorthand (hence no commas!)
//
//  $gradient: linear-gradient(to top, transparent, rgba(255, 255, 255, 0.1));
//
//  @if $ov != none { background: $c $ov, $gradient; }
//  @else { background: $c $gradient; }
//
//  //box-shadow: inset 0 1px $hc; // top highlight
//}

@mixin overshoot($p, $t:normal, $c:gtk("@theme_fg_color")) {
//
// overshoot
//
// $p: position
// $t: type
// $c: base color
//
// possible $p values:
// top, bottom, right, left
//
// possible $t values:
// normal, backdrop
//

  $_small_gradient_length: 5%;
  $_big_gradient_length: 100%;

  $_position: center top;
  $_small_gradient_size: 100% $_small_gradient_length;
  $_big_gradient_size: 100% $_big_gradient_length;

  @if $p==bottom {
    $_position: center bottom;
    $_linear_gradient_direction: to top;
  }

  @else if $p==right {
    $_position: right center;
    $_small_gradient_size: $_small_gradient_length 100%;
    $_big_gradient_size: $_big_gradient_length 100%;
  }

  @else if $p==left {
    $_position: left center;
    $_small_gradient_size: $_small_gradient_length 100%;
    $_big_gradient_size: $_big_gradient_length 100%;
  }

  $_small_gradient_color: $c;
  $_big_gradient_color: $c;

  @if $c==gtk("@theme_fg_color") {
    $_small_gradient_color: gtkdarken(rgba(0,0,0,0.17), 10%);
    $_big_gradient_color: gtk("@theme_fg_color");

    @if $t==backdrop { $_small_gradient_color: rgba(0,0,0,0.17); }
  }

  $_small_gradient: -gtk-gradient(radial,
                                  $_position, 0,
                                  $_position, 0.5,
                                  to($_small_gradient_color),
                                  to(gtktransparentize($_small_gradient_color, 1)));

  $_big_gradient: -gtk-gradient(radial,
                                $_position, 0,
                                $_position, 0.6,
                                from(gtktransparentize($_big_gradient_color, 0.93)),
                                to(gtktransparentize($_big_gradient_color, 1)));

  @if $t==normal {
    background-image: $_small_gradient, $_big_gradient;
    background-size: $_small_gradient_size, $_big_gradient_size;
  }

  @else if $t==backdrop {
    background-image: $_small_gradient;
    background-size: $_small_gradient_size;
  }

  background-repeat: no-repeat;
  background-position: $_position;

  background-color: transparent; // reset some properties to be sure to not inherit them somehow
  border: none;                  //
  box-shadow: none;              //
}


/***************************
 * Check and Radio buttons *
 ***************************/

  @mixin check($t, $c:gtk("@theme_bg_color"), $tc:gtk("@theme_fg_color"), $checked: false) {
  // Check/Radio drawing function
  //
  // $t:        check/radio type,
  // $c:        base button color for colored* types
  // $tc:       optional text color for colored* types
  // $checked:  bool to chose between checked/unchecked
  //
  // possible $t values:
  // normal, hover, active, insensitive, backdrop, backdrop-insensitive

  $_border_color: if($c==gtk("@theme_selected_bg_color"), $c rgba(0,0,0,0.3), rgba(0,0,0,0.17));
  $_dim_border_color: gtkalpha($_border_color, 0.7);

  @if $t==normal  {
    background-clip: if($checked, border-box, padding-box);
    background: $c linear-gradient(to bottom, rgba(255, 255, 255, 0.05) 20%, rgba(255, 255, 255, 0) 90%);
    border-color: $_border_color;
    box-shadow: 0 1px gtkalpha(black, 0.05);
    color: $tc;
  }

  @if $t==hover {
    background: if($c == white, $c rgba(0, 0, 0, 0.05), $c linear-gradient(to bottom, rgba(255, 255, 255, 0.09) 10%, rgba(255, 255, 255, 0.04) 90%));
  }

  @if $t==active {
    box-shadow: inset 0 1px 1px 0px rgba(0, 0, 0, 0.2);
  }

  @if $t==insensitive {
    box-shadow: none;
    color: gtkalpha($tc, 0.7);
  }

  @if $t==backdrop {
    background: $c;
    box-shadow: none;
    color: $tc;
  }

  @if $t==backdrop-insensitive {
    box-shadow: none;
    color: gtkalpha($tc, 0.7);
  }
}

